.contactme{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height:100%;
    background-color: rgb(242, 250, 168);
    padding:50px;
}
.icons{
padding:30px;
margin-top:50px;

}
.title{
    color:#ce1212;
    font-size:50px;
    text-align: center;
    margin:30px;
}
img{
    height:100px;
width:100px;
transition: transform 500ms ease-in-out;
}
img:hover{
    transform: scale(1.1);
}
@media screen and (max-width:768px){
    .contactme{
        display: flex;
        flex-direction: column;
    }
    
}
