.hobbies{
    display: flex;
    flex-direction: column;
    background-color:#ffd880 ;
    height:100%;
    padding:50px;
}
.hobby-name{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    background-color:#d5ecc2 ;
    border-radius: 30px;
    padding-top:50px;
    padding-bottom:50px;
    margin:150px;
    box-shadow: 10px 10px 50px pink;
}

.hobby-name div:nth-child(1){
    text-align: center;
}
@media screen and (max-width:768px){
    .hobby-name{
        display:flex;
        flex-direction: column;
        margin:50px;
    }
    
}
.right-col{
margin:30px;
}
.right-col h1{
    font-size:32px;
    text-align: center;
    color:#6b011f
}
.right-col div{
    padding:20px;
    font-size:18px;
    color:#f14668
}
img{
    height:200px;
    width:200px;
    margin:10px;
    
}