.mywork{
    background-color: #8fd6e1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:40px;
    height:100%;
}
.card2{
    background-color: rgb(169, 252, 180);
    margin-top:50px;
    margin-left: 200px;
    margin-right:200px;
    border-radius: 20px;
    padding:30px;
    font-weight: bold;
    color:#1f441e;
    
    
}
.card2:hover{
    box-shadow: 5px 5px 50px black;
    
}
button{
    height:auto;
    width:auto;
    padding:10px;
    margin:30px;
    font-size: 20px;
    color:green;
    cursor: pointer;

}
.name{
font-size:30px;
font-weight: bold;
padding-bottom: 20px;
color:#6b011f;
}
.detail{
    font-size:20px;
    font-weight: bold;
}
a{
    cursor: pointer;
}
@media screen and (max-width:768px){
    
    .card2{

        margin-top:50px;
        margin-left: 50px;
        margin-right:50px;
        
    }
    .name{
        font-size:25px;
    }
    .detail{
        font-size:15px;
    }
    
}