*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  .navv{
    position:sticky;
    top:0;
    right:0;
    left:0;
    z-index: 20;
  }
  
  .hamburger{
    cursor: pointer;
    z-index: 1000;
    position:absolute;
    right:5%;
    top:50%;
    transform: translate(-5%, -50%);
    
    
  }
 
  .line{
    height:5px;
    width:30px;
    background-color: white;
    margin:5px;
    transition: transform 500ms ease-in;
  }
  nav{
    max-height: 10vh;
    background-color: #290149;
    color:white;
    display: flex;
    justify-content: space-around;
    padding:20px;
    z-index: 10;
    
  }
  
  .nav-items{
    position: fixed;
    right:0;
    top:8vh;
    bottom:0;
    display:flex;
    flex-direction: column;
    background: #290149;
    height:100vh;
    width:200px;
    list-style:none;
    
  }
  .nav-items li{
    margin-right: 20px;
    margin-left: 20px;
    font-size:18px;
    margin-top:20px;
    margin-bottom:10px;
    font-weight:bold;
    border-radius: 30px;
    transition: transform 1s ease-in-out;
  }
  .nav-items li:hover{
    transform: scale(1.1);
    color:pink;
  }
  .trans1{
    transform:rotate(45deg);
   transform-origin: 20%;
  }
  .trans2{
    transform: rotate(135deg);
    transform-origin: 50% 20%;
  }
  .none{
    display: none;
  }
  /* @keyframes animation{
    from{box-shadow: 1px 1px 10px pink;}
    to{box-shadow: 2px 2px 50px yellow;}
  } */
  