.organisations{
    background-color: #f8f670;
    display: flex;
    flex-direction: column;
    
    padding:40px;
    width:100%;
}

.card3{
    background-color: pink;
    margin-top:50px;
    margin-left: 200px;
    margin-right:200px;
    border-radius: 20px;
    padding:30px;
    font-weight: bold;
    color:#1f441e;
    box-shadow: 5px 5px 50px black;
    font-weight: bold;
    
}
.date{
    font-size:18px;
    padding-bottom: 20px;
    color:#c15050;
}
.about{
    font-size:18px;
    padding-bottom: 20px;
}
@media screen and (max-width:768px){
    
    .card3{

        margin-top:50px;
        margin-left: 50px;
        margin-right:50px;
        
    }
    .name{
        font-size:25px;
    }
    .date,.about{
        font-size:15px;
    }
    
}